@model GNBCWeb.ViewModels.ProductViewModel

@{
	ViewBag.Title = "Detail of product";
}
@section Styles
{
	<link href="~/Resources/CSS/shop-item.css" rel="stylesheet">
}



<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Shop</p>
			<div class="list-group">
				<a href="@Url.Action("Details", new {productId=1})" class="list-group-item@(Model.ProductId == 1 ? " active" : "")">Silver Britania</a>
				<a href="@Url.Action("Details", new {productId=2})" class="list-group-item@(Model.ProductId == 2 ? " active" : "")">Austrian Philharmonic</a>
				<a href="@Url.Action("Details", new {productId=3})" class="list-group-item@(Model.ProductId == 3 ? " active" : "")">Canadian Maple Leaf</a>
				<a href="@Url.Action("Details", new {productId = 4})" class="list-group-item@(Model.ProductId == 4 ? " active" : "")">2.5g gram silver bars</a>
				<a href="@Url.Action("Details", new {productId = 5})" class="list-group-item@(Model.ProductId == 5? " active" : "")">5 gram silver bars</a>
				<a href="@Url.Action("Details", new {productId = 6})" class="list-group-item@(Model.ProductId == 6 ? " active" : "")">100 gram silver bars</a>
				<a href="@Url.Action("Details", new {productId = 7})" class="list-group-item@(Model.ProductId == 7 ? " active" : "")">250 gram silver bars</a>
				<a href="@Url.Action("Details", new {productId = 8})" class="list-group-item@(Model.ProductId == 8 ? " active" : "")">10 oz silver bars</a>
				<a href="@Url.Action("Details", new {productId=9})" class="list-group-item@(Model.ProductId == 9 ? " active" : "")">500 gram silver bars</a>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src="~/Resources/images/products/@Model.Image" alt="">
				<div class="caption-full">
					<h4 class="pull-right">£@Model.Price</h4>
					<h4>
						<a href="#">@Model.Title</a>
					</h4>
					@Html.Raw(Model.Description)
				</div>

			</div>
			<div class="well">
				<div class="text-right">
					<a class="btn btn-success">Buy me now</a>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- /.container -->
