@model GNBCWeb.ViewModels.ProductViewModel

@{
	ViewBag.Title = "Detail of product";
}
@section Styles
{
	<link href="~/Resources/CSS/shop-item.css" rel="stylesheet">
}



<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Shop</p>
			<div class="list-group">
				<a href="@Url.Action("Details", new {productId=1})" class="list-group-item@(Model.ProductId == 1 ? " active" : "")">Silver Britannia</a>
				<a href="@Url.Action("Details", new {productId=2})" class="list-group-item@(Model.ProductId == 2 ? " active" : "")">Austrian Philharmonic</a>
				<a href="@Url.Action("Details", new {productId=3})" class="list-group-item@(Model.ProductId == 3 ? " active" : "")">Canadian Maple Leaf</a>
				<a href="@Url.Action("Details", new {productId = 4})" class="list-group-item@(Model.ProductId == 4 ? " active" : "")">2.5g gram silver bars</a>
				<a href="@Url.Action("Details", new {productId = 5})" class="list-group-item@(Model.ProductId == 5? " active" : "")">5 gram silver bars</a>
				<a href="@Url.Action("Details", new {productId = 6})" class="list-group-item@(Model.ProductId == 6 ? " active" : "")">100 gram silver bars</a>
				<a href="@Url.Action("Details", new {productId = 7})" class="list-group-item@(Model.ProductId == 7 ? " active" : "")">250 gram silver bars</a>
				<a href="@Url.Action("Details", new {productId = 8})" class="list-group-item@(Model.ProductId == 8 ? " active" : "")">500 gram silver bars</a>
				<a href="@Url.Action("Details", new {productId = 9})" class="list-group-item@(Model.ProductId == 9 ? " active" : "")">10 oz silver bars</a>
				<a href="@Url.Action("Details", new {productId = 10})" class="list-group-item@(Model.ProductId == 10 ? " active" : "")">Gold Sovereign 2015</a>				
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail">

				<div class="caption-full">
					<img class="img-rounded" src="~/Resources/images/products/@Model.Image" alt="">
					<h4 class="pull-right">£@Model.Price</h4>
					<h4>
						<a href="#">@Model.Title</a>
					</h4>
					@Html.Raw(Model.Description)
				</div>

			</div>
			<div class="well">
				<div class="text-right">
					<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="W3EG3XULVE2W4">
						<table>
							<tr><td><input type="hidden" name="on0" value="Quantity">Quantity</td></tr>
							<tr>
								<td>
									<select name="os0">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
									</select>
								</td>
							</tr>
						</table>
						<input type="hidden" name="currency_code" value="GBP">
						<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
					</form>

				</div>

			</div>
		</div>
	</div>
</div>
<!-- /.container -->
