@model GNBCWeb.Models.ContactViewModel

@{
    ViewBag.Title = "EnquirySuccess";
}

<h2>EnquirySuccess</h2>

<fieldset>
    <legend>ContactViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Enquiry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enquiry)
    </div>
</fieldset>
