@model GNB.GmbUser
<div class="navbar-wrapper">
	<div class="container">

		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Great North Bullion Company</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="/Home">Home</a></li>
						<li class="active"><a href="/Home/About">About</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gold<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Gold coins</a></li>
								<li><a href="#">Gold bars</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Silver <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Silver coins</a></li>
								<li><a href="#">Silver bars</a></li>
							</ul>
						</li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

	</div>
</div>

<div class="jumbotron">
	<div class="container">
		<h1>Join us.</h1>
		<p>Sign up to recieve exclusive member benefits such as weekly updates and the chance to purchase quality precious metals as very competitive prices.</p>
	</div>
</div>


<div class="container">


	<div class="row">
		<div class="col-lg-6">
			<div class="well bs-component">
				@using (Html.BeginForm("SignUp","User",FormMethod.Post,new {
					@class = "form-horizontal"
				})) {
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true)
					<fieldset>
						<legend>Sign up</legend>
						<div class="form-group">
							<label for="@Html.LabelFor(model => model.Email)" class="col-lg-2 control-label">@Html.LabelFor(model => model.Email)</label>
							<div class="col-lg-10">
								@Html.EditorFor(model => model.Email)
								@Html.ValidationMessageFor(model => model.Email)
							</div>
						</div>
						<div class="form-group">
							<label for="@Html.LabelFor(model => model.FirstName)" class="col-lg-2 control-label">@Html.LabelFor(model => model.FirstName)</label>
							<div class="col-lg-10">
								@Html.EditorFor(model => model.FirstName)
								@Html.ValidationMessageFor(model => model.FirstName)
							</div>
						</div>
						<div class="form-group">
							<label for="@Html.LabelFor(model => model.Surname)" class="col-lg-2 control-label">@Html.LabelFor(model => model.Surname)</label>
							<div class="col-lg-10">
								@Html.EditorFor(model => model.Surname)
								@Html.ValidationMessageFor(model => model.Surname)
							</div>
						</div>
						<div class="form-group">
							<label for="@Html.LabelFor(model => model.Password)" class="col-lg-2 control-label">@Html.LabelFor(model => model.Password)</label>
							<div class="col-lg-10">
								@Html.PasswordFor(model => model.Password)
								@Html.ValidationMessageFor(model => model.Password)
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-10 col-lg-offset-2">
								<button type="submit" class="btn btn-lg">Join</button>
							</div>
						</div>
					</fieldset>
				}
			</div>
		</div>
		<div class="col-lg-4 col-lg-offset-1">
			<img src="~/Resources/images/joinus.jpg" height="245" width="462" />
		</div>
	</div>
	
	<!-- FOOTER -->
	<footer>
		<p class="pull-right"><a href="#">Back to top</a></p>
		<p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	</footer>
</div>